.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    form {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 350px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
}

.back-to-login {
    margin-bottom: 5px;
    a {
        
        text-decoration: none;
    }
}

.form-title {
    h2 {
        margin-top: 0;
    }
}
