<div class="login-content">
   <!-- <div class="login--title">
        <h2>Connexion</h2>
    </div>-->
    <form [formGroup]="loginForm" (ngSubmit)="connect()">
        <h2>Connexion</h2>
        <mat-form-field>
            <mat-label>Nom de l'utilisateur</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput type="text" formControlName="password">
        </mat-form-field>
        <button matButton="filled" type="submit" [disabled]="loginForm.invalid">Connexion</button>
        @if(invalidCredentials) {
            <mat-error>Crédentials invalide</mat-error>
        }
    </form>
</div>