.pokemon-form-content {
    max-width: 500px;
    flex: 1;

    form {
        width: 100%;
        padding: 10px;
        ;
        display: flex;
        flex-direction: column;
    }

    .form-field {
        button {
            width: 100%;
            margin-bottom: 10px;
        }

        span {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.pokemon-manager-content {
    display: flex;
    padding: 10px;

    .preview-content {
        max-width: 300px;
        max-height: 423px;
        flex: 1;
        margin-right: 10px;
    }


    .action-button {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}