 html {
     font-family: Roboto, sans-serif;
     height: 100%;
     background: linear-gradient(
     545deg,
      rgb(252, 228, 252),
      rgb(218, 228, 255)
     )
  }

  .cards-content {
    .mat-mdc-card-header {
      display: unset;
      padding: 10px 10px 0
    }
  }
